* {
  box-sizing: border-box;
}
body {
  background-image: url("../index.png");
  background-color: rgb(0, 0, 0);
}
@media (max-width: px) {
  .container {
      display: none; /* Menyembunyikan custom container pada layar kecil */
  }
  .show-custom-container {
      width: 100%;
      overflow: auto;
  }
}
